{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TASKS{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endblock %}


{% block content %}
  <h1> TODO </h1>
  {% for todo in todos %}
    <article class="post todo">
      <header>
	<div>
	  <h1>
	    <button class="done-btn" type="button" id="done{{ todo['id'] }}" name="done" value={{ todo['id'] }} onclick="handleButtonClick(this.value)"> DONE! </button>
	    {{ todo['title'] }}
	  </h1>
	  <div class="about"> on {{ todo['created'].strftime('%Y-%m-%d') }}</div>  
	</div>
	<a class="action" href="{{ url_for('blog.update', id=todo['id']) }}">Edit</a>  
      </header>
      <p class="body">{{ todo['body'] }}</p>
    </article>
  {% endfor %}
    <hr>
  <h1> DONE </h1>
  {% for done in dones %}
    <article class="post done">
      <header>
	<div>
	  <h1>
	    <button class="recover-btn" type="button" id="done{{ done['id'] }}" name="done" value={{ done['id'] }} onclick="handleButtonClick(this.value)"> RECOVER! </button>
	    {{ done['title'] }}
	  </h1>
	  <div class="about"> on {{ done['created'].strftime('%Y-%m-%d') }}</div>  
	</div>
	<a class="action" href="{{ url_for('blog.update', id=done['id']) }}">Edit</a>  
      </header>
      <p class="body">{{ done['body'] }}</p>
    </article>
  {% endfor %}
  
  <!-- Hidden form field to store the button value -->
      <form id="hiddenForm" method="post">
        <input type="hidden" name="done" id="hiddenButton">
      </form>
    
  <script>
      function handleButtonClick(buttonValue) {
            // Set the value of the hidden input field
            document.getElementById('hiddenButton').value = buttonValue;

            // Submit the hidden form
            document.getElementById('hiddenForm').submit();
        }
  </script>
{% endblock %}
