html  {
    font-family:  sans-serif;
    background:  black;
    padding:  1rem;
}

body  {
    max-width:  960px;
    height: 100%;
    margin:  0 auto;
    background:  black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1  {
    font-family:  serif;
    color:  white;
    margin:  1rem 0;
}

a  {
    color:  #377ba8;
}

hr  {
    border:  none;
    border-top:  1px solid lightgray;
}

nav  {
    /* background:  lightgray; */
    display:  flex;
    align-items:  center;
    padding:  0 0.5rem;
}

nav h1  {
    flex:  auto;
    margin:  0;
}

nav h1 a  {
    text-decoration:  none;
    padding:  0.25rem 0.5rem;
}

nav ul   {
    display:  flex;
    list-style:  none;
    margin:  0;
    padding:  0;
}

nav ul li a,  nav ul li span,  header .action  {
    display:  block;
    padding:  0.5rem;
}

.content  {
    padding:  0 1rem 1rem;
    width: 100vw;
    max-width: 10in;
}

.content > h1 {
    color: white;
}

.content > header  {
    border-bottom:  1px solid lightgray;
    display:  flex;
    align-items:  flex-end;
}

.content > header h1  {
    flex:  auto;
    margin:  1rem 0 0.25rem 0;
    color: white;
}

.flash  {
    margin:  1em 0;
    padding:  1em;
    background:  #cae6f6;
    border:  1px solid #377ba8;
}

/* .post > header  { */
/*     display:  flex; */
/*     align-items:  flex-end; */
/*     font-size:  0.85em; */
/* } */

.post > header > div:first-of-type  {
    flex:  auto;
}

.post > header h1  {
    font-size:  1.5em;
    margin-bottom:  0;
}

.post .about  {
    color:  slategray;
    font-style:  italic;
}

.post .body  {
    white-space:  pre-line;
}

.content:last-child  {
    margin-bottom:  0;
}

.content form  {
    margin:  1em 0;
    display:  flex;
    flex-direction:  column;
}

.content label  {
    font-weight:  bold;
    margin-bottom:  0.5em;
    color: white;
}

.content input,  .content textarea  {
    color: white;
    margin-bottom:  1em;
    padding: 10px;
    border: .25em solid white;
    border-radius: 1em;
    background-color: transparent;
}

.content textarea  {
    min-height:  12em;
    resize:  vertical;
}

input.danger  {
    border-color: #cc2f2e;
    color:  #cc2f2e;
    transition-duration: .2s;
}

input.danger:hover {
    background-color: #cc2f2e;
    color: black;
}

input[type=submit]  {
    align-self:  start;
    min-width:  10em;
}

button {
    padding: 3px;
    transition-duration: .4s;
}

.todo {
    color: white
}
.todo > header {
    display:  flex;
    align-items:  flex-end;
    font-size:  0.85em;
}

.todo button {
    border: 3px solid rgb(0, 150, 0, .8);
    border-radius: .5em;
    background-color: transparent;
    color: white
}
.todo button:hover {
    background-color: green;
}

.done {
    color: rgb(255, 255, 255, .5)
}
.done > header {
    display:  flex;
    align-items:  flex-end;
    font-size:  0.85em;
    color: rgb(255, 255, 255, .5);
}

.done button {
    border: 3px solid rgb(100, 0, 0, .7);
    border-radius: .5em;
    background-color: transparent;
    color: white
}

.done button:hover {
    background-color: red;
}

.done h1 {
    color: gray;
}

.save {
    transition-duration: .2s;
}
.save:hover {
    background-color: white;
    color: black;
}
